<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">    <title>Landing Page &ndash; Layout Examples &ndash; Pure</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <!--<![endif]-->

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="css/layouts/marketing.css">
    <!--<![endif]-->

    <script src="https://kit.fontawesome.com/611a322320.js"></script>
</head>
<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">easyrider</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/" class="pure-menu-link">Strona główna</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Załóż konto</a></li>
            <li class="pure-menu-item"><a href="/LoginPage" class="pure-menu-link">Zaloguj się</a></li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Szkoła jazdy konnej</h1>
        <p class="splash-subhead">
            Zapraszamy do zapoznania się z ofertą.
        </p>
        <p>
            <a href="#" class="pure-button pure-button-primary">Inforamcje o szkole</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Wszystko co związane ze szkołą jazdy i nie tylko.</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <a href="/instructors-descriptions" class="content-subhead">
                        Instruktorzy
                    </a>
                </h3>
                <p>
                    Poznaj osoby prowadzące lekcje. Możesz tutaj sprawdzić wolne terminy i zapisać się na szkolenie.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fas fa-horse-head"></i>
                    Konie
                </h3>
                <p>
                    Dowiedz się czegoś wiecej o naszych koniach.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fas fa-photo-video"></i>
                    Galeria
                </h3>
                <p>
                    Najnowsze zdjęcia i filmy.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fas fa-envelope"></i>
                    Skontaktuj się z nami.
                </h3>
                <p>
                    Tel.
                    Email.
                    Adres
                </p>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img width="300" alt="File Icons" class="pure-img-responsive" src="/img/common/the-horse-3254102_1280.png">
        </div>
        <div class="l-box-lrg pure-u-1 pure-u-md-2-5">

            <h2 class="content-head content-head-ribbon">Wydarzenia ze świata koni.</h2>

            <p>
                Najnowsze informacje, konkursy itd.
            </p>
        </div>
    </div>



    <div class="footer l-box is-center">
        Stworzone przy pomocy http://purecss.io/.
    </div>

</div>


</body>
</html>